
<div class='container'>
    <div class="model-container">

        <div class="header"></div>
        <div class="body">TEST</div>
        <div class="footer"></div>

        <div class="resize-icon"></div>
    </div>
</div>